	@import 'vendors/_bootstrap.scss';

// variables

	$sfontsize:15px;
	$gray-darker:  lighten(#000, 13.5%); // #222
	$gray-dark:    lighten(#000, 20%);   // #333
	$gray:         lighten(#000, 33.5%); // #555
	$gray-light:   lighten(#000, 46.7%); // #777
	$gray-lighter: lighten(#000, 93.5%); // #eee

	/* primary color */
	$primary-color: #3b5a76;
	$background-color: #ededed;
	$text-color:#363636;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// our stylesheet body

canvas {display:block; position:fixed; z-index:0;}
section {
	padding:30px 0;
}

body {

	font-size:$sfontsize;
	background: $background-color url(../img/background-1.jpg) center center  no-repeat;
    background-size: cover ;
    background-attachment: fixed;
	font-family: 'Open Sans', Arial, Tahoma;
	color:$text-color;
}

h2 {
	font-weight:700;
	text-transform:uppercase;
	line-height: 1.4em;
	font-size:1.5em;
}

.primary, strong, h2 {
	color: $primary-color;
}
.container {
	background: $gray-lighter ;
}

	.container-main {
		background: rgba(255,255,255,0.8);
		margin: 80px auto 0;
		padding: 0 30px 30px 30px;
	}

header {
	min-height:100px;
	overflow:auto
}
	header h1 {
		margin:50px 0 0 0;
		padding:20px 0 0 0;
		font-size:2.2em;
		font-weight: 700;
		text-transform:uppercase;
		letter-spacing:-1px;
		text-align:center;
		line-height:1.4em;
	}

.row {
	margin-bottom:20px;
}

.profile-image {
	width:160px;
	display:block;
	margin:-60px auto;
	@include border-radius(50%);
}

.line {
	max-width:100%;
}

.contact-list {
	padding:0;
	margin:0;
}

	.contact-list li {
		list-style:none;
		font-weight:bold;
		line-height:3.2em;
	}

	.contact-list img {
		max-width:30px;
	}

	.contact-list span {
		display:block;
		margin:0 0 0 35px;
		padding:0;
		line-height:0.1em;
		font-size:15px;
		color:#ccc;
	}


	.media {
		background:$background-color;
		padding:10px;
		@include border-radius(5px);
	}
		.transparent {
			background: #fff;
			margin:0;
			padding-top:5px;
			padding-bottom:0px;
		}
		.transparent .media-left {
			width:33%;
			font-weight:bold;
		}

	.work-list li {
		list-style:none;
		float:left;
		padding:0 10px;
		margin:0 0 30px 0;
	}

	footer {
		color:#fff;
		text-align:center;
		padding: 20px 0;
	}

	h4 a {
		font-weight:bold;
		color:#1c2e44;
	}
		h4 a:hover { text-decoration:none; }
			h4 a:before {	content: "+"}
			h4 a:focus:before {	content: "-"; text-decoration:none;}


			#experience .media-left {
				min-width:90px;
			}

/* */
.mybutt {
///* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98a3ba+0,3b5a76+100 */
//background: #98a3ba; /* Old browsers */
//background: -moz-linear-gradient(top, #98a3ba 0%, #3b5a76 100%); /* FF3.6-15 */
//background: -webkit-linear-gradient(top, #98a3ba 0%,#3b5a76 100%); /* Chrome10-25,Safari5.1-6 */
//background: linear-gradient(to bottom, #98a3ba 0%,#3b5a76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98a3ba', endColorstr='#3b5a76',GradientType=0 ); /* IE6-9 */

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,72b500+100 */
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top, #9dd53a 0%, #72b500 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9dd53a 0%,#72b500 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9dd53a 0%,#72b500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#72b500',GradientType=0 ); /* IE6-9 */

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #fff;

//    box-shadow: 0px 0px 3px #000;
}

a.rdownload .mybutt {
//    text-shadow: 1px 1px 0 #333;
}
a.rdownload:hover  { text-decoration: none;}
.mybutt:hover {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #fff;

    box-shadow: none;
}

h4 span {
	color:#999;
}

.thumbnail {
	background-color: transparent;
	background-image: url('../img/bgcontainer.png');
	border:none;
}


.thumbnail a.exticon {
	display: block;
	position:relative;
}
.thumbnail a.exticon span{
	position: absolute;
	top:0;right:0;
	display: block;
	width: 27px;height: 26px;
	background: url(../img/link-icon.png) top right no-repeat;
}
.thumbnail h4 {
	cursor:pointer;
}
.myclose {
	color:#cc3333;
	font-size:3em;
}
.my-btn-success a {
	color:#fff;
}
	.modal-footer .my-btn-success {
		border:none;
		color:#3b5a76;
		text-decoration:underline;
		font-size:2em;
		padding-right:35px;
		background-color:none;
		background: url(../img/link-icon.png) center right no-repeat;
	}


.skills .media {
	margin-bottom:1px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0 0px;
}
.skills .first {
	border-radius: 5px 5px 0px 0px;
}
.skills .last {
	border-radius:  0px 0px 5px 5px;
}



.nav-tabs {
	padding-bottom: 20px;
}
